<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon.png">
    <link rel="icon" type="image/png" href="img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Unidad Educativa Gualberto Villarroel</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- CSS Files -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/now-ui-dashboard.css?v=1.0.1" rel="stylesheet" />
</head>

<body class="">
    <div class="wrapper ">
        <div class="sidebar" data-color="orange">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
            <div class="logo">
                <a class="simple-text logo-mini">
                    U.E
                </a>
                <a class="simple-text logo-normal">
                    Gualberto Villarroel
                </a>
				                <center><img src="img//escudo.png" width="187" height="224"></center>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li>
                        <a href="/dashboard_prof">
                            <i class="now-ui-icons business_badge"></i>
                            <p>Notas</p>
                        </a>
                    </li>
                    <li class="active">
                        <a href="/comunicados_prof">
                            <i class="now-ui-icons ui-1_bell-53"></i>
                            <p>Comunicados</p>
                        </a>
                    </li>
					<li>
                        <a href="/listas_prof">
                            <i class="now-ui-icons files_paper"></i>
                            <p>Listas</p>
                        </a>
                    </li>
					<li>
                        <a href="/horarios_prof">
                            <i class="now-ui-icons ui-1_calendar-60"></i>
                            <p>Horarios</p>
                        </a>
                    </li>
                    <li>
                        <a href="/entrevistas_prof">
                            <i class="now-ui-icons design_bullet-list-67"></i>
                            <p>Entrevistas</p>
                        </a>
                    </li>		
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-toggle">
                            <button type="button" class="navbar-toggler">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </button>
                        </div>
                        <a class="navbar-brand" >Comunicados</a>
                    </div>
                   <div class="collapse navbar-collapse justify-content-end" id="navigation">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/" id="log-out-form">
                                    <i class="now-ui-icons users_single-02"></i>
                                    <p>
                                          <span>{{logout}}</span>
                                    </p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
<div class="panel-header panel-header-sm">
            </div>
            
            <div class="content">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Noticias</h4>
                            </div>
                            <div class="card-body">
                                <div class="alert-primary alert-with-icon" data-notify="container">
                                    <span data-notify="icon" class="now-ui-icons ui-1_bell-53"></span>
                                    <h3>D&iacute;A DE LA MADRE</h3>
                                                                        <p>Distinguidas Mam&aacute;s:Aprovecho de saludarles y al mismo tiempo felicitarles por el d&iacute;a de la madre, que celebraremos el d&iacute;a LUNES 25 de Mayo por su labor sacrificada y silenciosa.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Actividades</h4>
                            </div>
                            <div class="card-body">
                                <div class="alert-primary">                                 
								<span>									
																													
							        <div class="numero">16</div>
                                    <div class="mes"> may </div>
                                <h3>Entrega de notas a titulares</h3>
                                <h6>16-05-2018</h6>
                                		
										
								</span>																						
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                                    
                </div>
            </footer>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/libs/jquery-3.3.1.min.js"></script>
    <script src="js/libs/moment.js"></script> 
    <script src="js/libs/mustache.js"></script> 
    <script src="js/libs/deparam.js"></script> 
    <script src="js/sockets.js"></script>

    <!--   para la barra lateral    -->
    <script src="js/libs/extras/jquery.min.js"></script>
    <script src="js/libs/extras/now-ui-dashboard.js?v=1.0.1"></script>
</body>

</html>
