<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon.png">
    <link rel="icon" type="image/png" href="img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Unidad Educativa Gualberto Villarroel</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- CSS Files -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/now-ui-dashboard.css?v=1.0.1" rel="stylesheet" />
</head>

<body class="">
    <div class="wrapper ">
        <div class="sidebar" data-color="orange">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
            <div class="logo">
                <a class="simple-text logo-mini">
                    U.E
                </a>
                <a class="simple-text logo-normal">
                    Gualberto Villarroel
                </a>
				                <!--center><img src="escudo.png" width="187" height="224"></center-->
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
					<li class="active">
                        <a href="/dashboard_sec">
                            <i class="now-ui-icons design-2_ruler-pencil"></i>
                            <p>Inscripción</p>
                        </a>
                    </li>
					<li>
                        <a href="/personal">
                            <i class="now-ui-icons users_circle-08"></i>
                            <p>Personal</p>
                        </a>
                    </li>
                    <li>
                        <a href="/entrevistas_sec">
                            <i class="now-ui-icons design_bullet-list-67"></i>
                            <p>Entrevistas</p>
                        </a>
                    </li>
					<li>
                        <a href="/comunicados_sec">
                            <i class="now-ui-icons ui-1_bell-53"></i>
                            <p>Comunicados</p>
                        </a>
                    </li>
					<li>
                        <a href="/horarios_sec">
                            <i class="now-ui-icons ui-1_calendar-60"></i>
                            <p>Horarios</p>
                        </a>
                    </li>
                    <li>
                        <a href="/notas_sec">
                            <i class="now-ui-icons business_badge"></i>
                            <p>Notas</p>
                        </a>
                    </li>
  					 <li>
                        <a href="/listas_sec">
                            <i class="now-ui-icons files_paper"></i>
                            <p>Listas</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-toggle">
                            <button type="button" class="navbar-toggler">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </button>
                        </div>
                        <a class="navbar-brand" >Inscripción</a>
                    </div>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">                    
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/" id="log-out-form">
                                    <i class="now-ui-icons users_single-02"></i>
                                    <p>
                                        <span>{{logout}}</span>
                                    </p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="panel-header panel-header-sm">
            </div>
            {{!-- <form action = "/nuevo_estudiante" method="post"> --}}
			<div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
					
                            <div class="card-header">
                                <h5 class="title" id="student_tittle">Datos del Estudiante</h5>
                            </div>
                            			
							<form id="search_user">
                                <div class="input-group no-border">
                                    <input type="number" class="form-control" placeholder="Buscar CI ..."
                                         required= "required"  name="a_buscar">
                                    
                                    <span class="input-group-addon">
                                        <i class="now-ui-icons ui-1_zoom-bold"></i>  
                                        <input type="hidden">-------</input>
                                        <input type="submit" value="Buscar" id="search_data" 
                                            style= "height:130%;">
                                        
                                    </span>                                  
                                </div>
                            </form>
                            <!--action = "/nuevo_estudiante" method="post"--> 
                            <form id="send_data1">
                            <div class="card-body">
                               
							        <div class="row">
                                        <div class="col-md-5 pr-1">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Carnet de Identidad Padre</label>
                                                <input type="number" class="form-control" placeholder="Carnet de Identidad" name="ecpp" required="required">
                                            </div>
                                            
                                        </div>
                                        <div class="col-md-5 pr-1"></div><!--Solo para hacer espacio-->
                                        <div class="col-md-5 pr-1">
                                            <div class="form-group">
                                                <label>Apellido Paterno</label>
                                                <input type="text" class="form-control" placeholder="Apellido Paterno" name="eap" required="required" lang="es">
                                            </div>
                                        </div>
                                        <div class="col-md-5 px-1">
                                            <div class="form-group">
                                                <label>Apellido Materno</label>
                                                <input type="text" class="form-control" placeholder="Apellido Materno" name="eam" required="required">
                                            </div>
                                        </div>
										<div class="col-md-10 pr-1">
                                            <div class="form-group">
                                                <label>Nombres</label>
                                                <input type="text" class="form-control" placeholder="Nombre" name="en" required="required">
                                            </div>
                                        </div>
                                        <div class="col-md-3 pr-1">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Carnet de Identidad</label>
                                                <input type="number" class="form-control" placeholder="Carnet de Identidad" name="eci" required="required">
                                            </div>
                                        </div>
										<div class="col-md-2 px-1">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Expedido</label>
                                                 <select name="edep1" class="form-control" >
                                                    <option value="La Paz">La Paz</option>
                                                    <option value="Oruro">Oruro</option>
                                                    <option value="Potosi">Potosi</option>
                                                    <option value="Cbba">Cbba</option>
                                                    <option value="Sucre">Sucre</option>
                                                    <option value="Tarija">Tarija</option>
                                                    <option value="Pando">Pando</option>
                                                    <option value="Beni">Beni</option>
                                                    <option value="Santa Cruz">Santa Cruz</option>
                                                </select>
                                            </div>
                                        </div>
										<div class="col-md-3 pl-1">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Fecha de Nacimiento</label>
                                                <input type="date" class="form-control" placeholder="Fecha de Nacimiento" name="efn" required="required">
                                        </div>
                                        </div>
										<div class="col-md-3 pr-1">
                                            <div class="form-group">
                                                <label>Sexo</label>
                                                <select name="esex" class="form-control" >
                                                    <option value="Masculino">Masculino</option>
                                                    <option value="Femenino">Femenino</option>
                                                </select>
                                            </div>
                                           
                                        </div>
									</div>
								
									<div class="row">
										<div class="col-md-10 pr-1">
                                            <div class="form-group">
                                                <label>LUGAR DE NACIMIENTO</label>
                                            </div>
                                        </div>
                                         <div class="col-md-5 px-1">
                                            <div class="form-group">
                                                <label>País</label>
                                                <input type="text" class="form-control" placeholder="País" name="ep" required="required">
                                            </div>
                                        </div>
                                        <div class="col-md-3 pr-1">
                                            <div class="form-group">
                                                <label>Departamento</label>
        
                                                <select name="edep2" class="form-control" >
                                                    <option value="La Paz">La Paz</option>
                                                    <option value="Oruro">Oruro</option>
                                                    <option value="Potosi">Potosi</option>
                                                    <option value="Cbba">Cbba</option>
                                                    <option value="Sucre">Sucre</option>
                                                    <option value="Tarija">Tarija</option>
                                                    <option value="Pando">Pando</option>
                                                    <option value="Beni">Beni</option>
                                                    <option value="Santa Cruz">Santa Cruz</option>
                                                </select>
                                            </div>
                                        </div>
										<div class="col-md-5 pr-1">
                                            <div class="form-group">
                                                <label>Provincia</label>
                                                <input type="text" class="form-control" placeholder="Provincia" name="eprov" required="required">
                                            </div>
                                        </div>
										<div class="col-md-5 px-1">
                                            <div class="form-group">
                                                <label>Localidad</label>
                                                <input type="text" class="form-control" placeholder="Localidad" name="eloc" required="required">
                                            </div>
                                        </div>
										
										<div class="col-md-3 pr-1">
											<label>Curso</label>
											<select id="curso" class="form-control" name="ecur">
                                                <option value="1ero">1º Secundaria</option>
                                                <option value="2do" >2º Secundaria</option>
                                                <option value="3ero">3º Secundaria</option>
                                                <option value="4to" >4º Secundaria</option>
                                                <option value="5to" >5º Secundaria</option>
                                                <option value="6to" >6º Secundaria</option>	
                                            </select>										
										</div>
										
										<div class="col-md-3 pr-1">
											<label>Paralelo</label>
											<select id="paralelo" class="form-control" name="epar">
                                                <option value="Par_A" >A</option>
                                                <option value="Par_B" >B</option>
                                                <option value="Par_C" >C</option>
                                            </select>										
										</div>		
									
										
                                    </div>
                                    <center>	    
                                        <input class="btn btn-primary" type="submit" value="Guardar" id="guardar_est" >
                                        <input class="btn btn-primary" type="submit" value="Eliminar" id="borrar_est" 
                                            style= "background-color: #f44336; color: white; height:130%">
								    </center>
                                
                            </div>
							</form>
                        </div>
                    </div>

                </div>
            </div>
							

		    <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
					
                            <div class="card-header">
                                <h5 class="title" id="dad_tittle"> Datos del Tutor</h5>
                            </div>					
							
                            <form id="send_data2">
                            <div class="card-body">
                              
							        <div class="row">	
                                        <div class="col-md-5 pr-1">
                                            <div class="form-group">
                                                <label>Apellido Paterno</label>
                                                <input type="text" class="form-control" placeholder="Apellido Paterno" name="pap" required="required">
                                            </div>
                                        </div>
                                        <div class="col-md-5 px-1">
                                            <div class="form-group">
                                                <label>Apellido Materno</label>
                                                <input type="text" class="form-control" placeholder="Apellido Materno" name="pam" required="required">
                                            </div>
                                        </div>
										<div class="col-md-5 pr-1">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Nombres</label>
                                                <input type="text" class="form-control" placeholder="Nombres" name="pn" required="required">
                                            </div>
                                        </div>
										<div class="col-md-3 px-1">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Carnet de Identidad</label>
                                                <input type="number" class="form-control" placeholder="Carnet de Identidad" name="pci" required="required">
                                            </div>
                                        </div>
										<div class="col-md-2 pl-1">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Expedido</label>
                                                <select name="pdep1" class="form-control" >
                                                    <option value="La Paz">La Paz</option>
                                                    <option value="Oruro">Oruro</option>
                                                    <option value="Potosi">Potosi</option>
                                                    <option value="Cbba">Cbba</option>
                                                    <option value="Sucre">Sucre</option>
                                                    <option value="Tarija">Tarija</option>
                                                    <option value="Pando">Pando</option>
                                                    <option value="Beni">Beni</option>
                                                    <option value="Santa Cruz">Santa Cruz</option>
                                                </select>
                                        </div>
                                        </div>
                                        <div class="col-md-5 pr-1">
                                            <div class="form-group">
                                                <label>Dirección de Domicilio</label>
												<input type="text" class="form-control" placeholder="Zona, Avenida/Calle" name="pdir" required="required">
                                            </div>
                                        </div>
										<div class="col-md-5 px-1">
                                            <div class="form-group">
                                                <label>Telefono de Referencia</label>
												<input type="number" class="form-control" placeholder="Telefono de Referencia"name="ptel" required="required">
                                            </div>
                                        </div>
                                        <div class="col-md-10 pr-1">
                                            <div class="form-group">
                                                <label>Ocupación laboral actual</label>
                                                <input type="text" class="form-control" placeholder="Ocupación laboral actual" name="pocu" required="required">
                                            </div>
                                        </div>
										<div class="col-md-10 pr-1">
                                            <div class="form-group">
                                                <label>Mayor grado de instrucción alcanzado</label>
                                                <input type="text" class="form-control" placeholder="Mayor grado de instrucción alcanzado" name="pgrado" required="required">
                                            </div>
                                        </div>
										<div class="col-md-10 pr-1">
                                            <div class="form-group">
                                                <label>¿Cuál es el parentesco?</label>
                                                <select name="ppar" class="form-control" >
                                                    <option value="Padre">Padre</option>
                                                    <option value="Madre">Madre</option>
                                                    <option value="Tio/a">Tio/a</option>
                                                    <option value="Abuelo/a">Abuelo/a</option>
                                                    <option value="Hmno/a">Hmmo/a</option>
                                                    <option value="Otro">Otro</option>
                                                </select>
                                            </div>
                                        </div>
									
									</div>
									<center>		    
                                        <input class="btn btn-primary" type="submit" value="Guardar" id="guardar_dad" >
                                        <input class="btn btn-primary" type="submit" value="Eliminar" id="borrar_dad" 
                                            style= "background-color: #f44336; color: white; height:130%">
								    </center>
								
							</div>       
                            </form>	
						</div>
					</div>
				</div>
			</div>
         </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/libs/jquery-3.3.1.min.js"></script>
    <script src="js/libs/moment.js"></script> 
    <script src="js/libs/mustache.js"></script> 
    <script src="js/libs/deparam.js"></script> 
    <script src="js/sockets.js"></script>
</body>
<!--   Core JS Files   -->
<script src="js/libs/extras/jquery.min.js"></script>
<script src="js/libs/extras/now-ui-dashboard.js?v=1.0.1"></script>


</html>
