<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon.png">
    <link rel="icon" type="image/png" href="img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Unidad Educativa Gualberto Villarroel</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- CSS Files -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/now-ui-dashboard.css?v=1.0.1" rel="stylesheet" />
</head>

<body class="">
    <div class="wrapper ">
        <div class="sidebar" data-color="orange">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
            <div class="logo">
                <a class="simple-text logo-mini">
                    U.E
                </a>
                <a class="simple-text logo-normal">
                    Gualberto Villarroel
                </a>
				                <center><img src="img/escudo.png" width="187" height="224"></center>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="active">
                        <a href="../usuario/dashboard_usuario.html">
                            <i class="now-ui-icons business_bank"></i>
                            <p>Inicio</p>
                        </a>
                    </li>
                    <li>
                        <a href="../usuario/comunicados.html">
                            <i class="now-ui-icons ui-1_bell-53"></i>
                            <p>Comunicados</p>
                        </a>
                    </li>
                    <li>
                        <a href="../usuario/entrevistas.html">
                            <i class="now-ui-icons design_bullet-list-67"></i>
                            <p>Entrevistas</p>
                        </a>
                    </li>
                    <li>
                        <a href="../usuario/user.html">
                            <i class="now-ui-icons business_badge"></i>
                            <p>Notas</p>
                        </a>
                    </li>					
                    <li>
                        <a href="../usuario/contactos.html">
                            <i class="now-ui-icons location_pin"></i>
                            <p>Contactos</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
   <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-toggle">
                            <button type="button" class="navbar-toggler">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </button>
                        </div>
                    </div>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">
                        <ul class="navbar-nav">

                            <li class="nav-item">
                                <a class="nav-link" href="../usuario/inicio_sesion.html">
                                    <i class="now-ui-icons users_single-02"></i>
                                    <p>
                                        <span>INICIAR SESIÓN</span>
                                    </p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <!-- End Navbar -->
            <div class="panel-header panel-header-lg">
                <center><img src="img/portada.png" width="1048" height="290"></center>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card card-chart">
                            <div class="card-header">
                                <h5 class="card-category">Biografía</h5>
                                <h5 class="card-title">Fue fundado en el año 1953 como consecuencia de los procesos políticos del nacionalismo 
revolucionario, emergente después de la Guerra del Chaco (1932 - 1935). Surge como una alternativa para la formación 
intelectual de los hijos de los sectores más empobrecidos de las laderas paceñas.</h5>
                            </div>
								<div class="card-footer">
                                <div class="stats">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="card card-chart">
                            <div class="card-header">
                                <h5 class="card-category">Misión</h5>
                                <h5 class="card-title">La educación se sustenta en la sociedad, a través de la participación plena de las bolivianas y los 
bolivianos en el Sistema Educativo Plurinacional, respetando sus diversas expresiones sociales y culturales, en sus 
diferentes formas de organización.</h5>                              
                            </div>
							<div class="card-footer">
                                <div class="stats">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="card card-chart">
                            <div class="card-header">
                                <h5 class="card-category">Visión</h5>
                                <h5 class="card-title">Formar integral y equitativamente a mujeres y hombres, en función de sus necesidades, particularidades 
y expectativas, mediante el desarrollo armónico de todas sus potencialidades y capacidades, valorando y respetando sus 
diferencias y semejanzas.</h5>
                            </div>
							<div class="card-footer">
                                <div class="stats">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				<center>
                <div class="row">
                  <div class="col-md-6">
                    <div class="card card-tasks">
                      <div class="card-header">
                        <h5 class="card-category">Desfile 6 de Agosto</h5>
                        						                <center><img src="img/1.png" width="400" height="280"></center>
						<br><h7>Nuestra Unidad Educativa tuvo una excelente participación en el desfile de las fiestas patria.</h7>
                      </div>
					  <div class="card-footer">
                                <div class="stats">
                                </div>
                        </div>
                      </div>
				  </div>
                </div>
				</center>
            </div>
        </div>
    </div>
</body>
</html>
