<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon.png">
    <link rel="icon" type="image/png" href="img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Unidad Educativa Gualberto Villarroel</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- CSS Files -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/now-ui-dashboard.css?v=1.0.1" rel="stylesheet" />
</head>

<body class="" >
    <div class="sidebar" data-color="orange">
        <!--
    Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
-->
        <div class="logo">
            <a class="simple-text logo-mini">
                U.E
            </a>
            <a class="simple-text logo-normal">
                Gualberto Villarroel
            </a>
                            <!--center><img src="escudo.png" width="187" height="224"></center-->
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li>
                    <a href="/dashboard_sec">
                        <i class="now-ui-icons design-2_ruler-pencil"></i>
                        <p>Inscripción</p>
                    </a>
                </li>
                <li class="active">
                    <a href="/personal">
                        <i class="now-ui-icons users_circle-08"></i>
                        <p>Personal</p>
                    </a>
                </li>
                <li>
                    <a href="/entrevistas_sec">
                        <i class="now-ui-icons design_bullet-list-67"></i>
                        <p>Entrevistas</p>
                    </a>
                </li>
                <li>
                    <a href="/comunicados_sec">
                        <i class="now-ui-icons ui-1_bell-53"></i>
                        <p>Comunicados</p>
                    </a>
                </li>
                <li>
                    <a href="/horarios_sec">
                        <i class="now-ui-icons ui-1_calendar-60"></i>
                        <p>Horarios</p>
                    </a>
                </li>
                <li>
                    <a href="/notas_sec">
                        <i class="now-ui-icons business_badge"></i>
                        <p>Notas</p>
                    </a>
                </li>
                   <li>
                    <a href="/listas_sec">
                        <i class="now-ui-icons files_paper"></i>
                        <p>Listas</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">
            <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-toggle">
                            <button type="button" class="navbar-toggler">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </button>
                        </div>
                        <a class="navbar-brand" >Personal</a>
                    </div>
                     <div class="collapse navbar-collapse justify-content-end" id="navigation">                      
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/" id="log-out-form">
                                    <i class="now-ui-icons users_single-02"></i>
                                    <p>
                                        <span>{{logout}}</span>
                                    </p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="panel-header panel-header-sm">
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="title" id="personal_tittle">Datos de los empleados</h5>
                            </div>
                            <div class="card-body">
                                <form id="search_personal">
                                    <div class="input-group no-border">
                                        <input type="number" class="form-control" placeholder="Buscar CI ..."
                                            required= "required"  name="p_buscar">
                                        
                                        <span class="input-group-addon">
                                            <i class="now-ui-icons ui-1_zoom-bold"></i>  
                                            <input type="hidden">-------</input>
                                            <input type="submit" value="Buscar" id="search_data2" 
                                                style= "height:130%;">
                                            
                                        </span>                                  
                                    </div>
                                </form>
                                <form id="send_personal">
                                    <div class="row">
                                        <div class="col-md-6 pr-1">
                                            <div class="form-group">
                                                <label>Apellidos</label>
                                                <input type="text" class="form-control" placeholder="Apellidos"required="required"name="ppap">
                                            </div>
                                        </div>
                                        <div class="col-md-6 pl-1">
                                            <div class="form-group">
                                                <label>Nombres</label>
                                                <input type="text" class="form-control" placeholder="Nombres"required="required"name="ppn">
                                            </div>
                                        </div>
                                    </div>
									<div class="row">
                                        <div class="col-md-4 pr-1">
                                            <div class="form-group">
                                                <label>Fecha de Nacimiento</label>
                                                <input type="date" class="form-control"required="required"name="ppfn">
                                            </div>
                                        </div>
                                        <div class="col-md-4 px-1">
                                            <div class="form-group">
                                                <label>Carnet de Identidad</label>
                                                <input type="number" class="form-control" placeholder="Carnet de Identidad"required="required"name="ppci">
                                            </div>
                                        </div>
                                        <div class="col-md-3 pl-1">
                                            <div class="form-group">
                                                <label>Expedido</label>
                                                 <select name="ppdep1" class="form-control" class="form-control">
                                                    <option value="La Paz">La Paz</option>
                                                    <option value="Oruro">Oruro</option>
                                                    <option value="Potosi">Potosi</option>
                                                    <option value="Cbba">Cbba</option>
                                                    <option value="Sucre">Sucre</option>
                                                    <option value="Tarija">Tarija</option>
                                                    <option value="Pando">Pando</option>
                                                    <option value="Beni">Beni</option>
                                                    <option value="Santa Cruz">Santa Cruz</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Dirección de Domicilio</label>
                                                <input type="text" class="form-control" placeholder="Dirección de Domicilio"required="required"name="ppdir">
                                            </div>
                                        </div>

                            
										<div class="col-md-3 pr-1">
											<label>Cargo</label>
											<select name= "ppcar" id="cargo" class="form-control"  required="required">
											        <option value="" >Seleccione un Cargo</option>
                                                    <option value="Profesor">Profesor</option>
                                                    <option value="Administrativo">Administrativo</option>
                                                    <option value="Otros">Otros</option>
                                            </select>										
                                        </div>
                                        <div class="col-md-3 pr-1" id="materia_asig">
                                                <label>Materia</label>
                                                <select name= "ppmat" id="materia" class="form-control"required="required">
                                                    <option value="">Seleccione una Materia</option>
                                                    <option value="Ninguna">Ninguna</option>
                                                    <option value="Matematicas">Matematicas</option>
                                                    <option value="Fisica">Física</option>
                                                    <option value="Biologia">Biología</option>
                                                    <option value="Geografia">Geografía</option>
                                                    <option value="Literatura">Literatura</option>
                                                    <option value="Artes_Plasticas">Artes Plasticas</option>
                                                    <option value="Musica">Música</option>
                                                    <option value="Educ_Fisica">Educ. Física</option>
                                                    <option value="Quimica">Quimica</option>
                                                    <option value="Filosofia">Filosofia</option>
                                                    <option value="Civica">Civica</option>
                                                    <option value="Psicologia">Psicologia</option>
                                                    <option value="Ingles">Ingles</option>
                                                </select>							
                                        </div>
										<div class="col-md-5 pl-1">
										<div class="form-group">
                                                <label>Contraseña</label>
                                                <input type="text" class="form-control" placeholder="Contraseña" required="required"name="pcont">
                                        </div>
										</div>
                                    </div> 
								<center>		
                                <input class="btn btn-primary" type="submit" value="Registrar"id="guardar_per">
                                <input class="btn btn-primary" type="submit" value="Eliminar" id="borrar_per" 
                                            style= "background-color: #f44336; color: white; height:130%">
								</center>
																	
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">

                </div>
            </footer>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/libs/jquery-3.3.1.min.js"></script>
    <script src="js/libs/moment.js"></script> 
    <script src="js/libs/mustache.js"></script> 
    <script src="js/libs/deparam.js"></script> 
    <script src="js/sockets.js"></script>
</body>
<!--   Core JS Files   -->
<script src="js/libs/extras/jquery.min.js"></script>
<script src="js/libs/extras/now-ui-dashboard.js?v=1.0.1"></script>

</html>
