<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon.png">
    <link rel="icon" type="image/png" href="img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Unidad Educativa Gualberto Villarroel</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
   <!-- CSS Files -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/now-ui-dashboard.css?v=1.0.1" rel="stylesheet" />
</head>

<body class="">
        <div class="sidebar" data-color="orange">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
            <div class="logo">
                <a class="simple-text logo-mini">
                    U.E
                </a>
                <a class="simple-text logo-normal">
                    Gualberto Villarroel
                </a>
				                <center><img src="img/escudo.png" width="187" height="224"></center>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li >
                        <a href="/">
                            <i class="now-ui-icons business_bank"></i>
                            <p>Inicio</p>
                        </a>
                    </li>
                    <li>
                        <a href="/comunicados">
                            <i class="now-ui-icons ui-1_bell-53"></i>
                            <p>Comunicados</p>
                        </a>
                    </li>
                    <li>
                        <a href="/entrevistas">
                            <i class="now-ui-icons design_bullet-list-67"></i>
                            <p>Entrevistas</p>
                        </a>
                    </li>
                    <li class="active">
                        <a href="/user">
                            <i class="now-ui-icons business_badge"></i>
                            <p>Notas</p>
                        </a>
                    </li>					
                    <li>
                        <a href="/contactos">
                            <i class="now-ui-icons location_pin"></i>
                            <p>Contactos</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-toggle">
                            <button type="button" class="navbar-toggler">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </button>
                        </div>
                        <a class="navbar-brand" href="#pablo">Notas</a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
				<div class="panel-header panel-header-sm">
            </div>
            <div class="content">
                <div class="row">

                        <div class="card">
                            <div class="card-header">
                                <h5 class="title">Consulta Libreta Electrónica</h5>
                            </div>
                            <div class="card-body">
                                <form action="/notas">
                                            <div class="form-group">
											 <label>Rude o C.I. de la/el Estudiante</label>
                                                <input type="number" class="form-control" placeholder="Rude o C.I. de la/el Estudiante" >
                                            </div>
                                        
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Fecha de Nacimiento</label>
                                                <input  type="date" class="form-control" placeholder="Fecha de Nacimiento">
                                            </div>
							<div class="form-group">
								<center>		
								<input class="btn btn-primary" type="submit" value="Aceptar">
								</center>
                            </div>
                                </form>
                            </div>
                        </div>
                    
                 </div>
            </div>
            <footer class="footer">
                <div class="container-fluid"></div>
            </footer>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/libs/jquery-3.3.1.min.js"></script>
    <script src="js/libs/moment.js"></script> 
    <script src="js/libs/mustache.js"></script> 
    <script src="js/libs/deparam.js"></script> 
    <script src="js/sockets.js"></script>
</body>
<!--   Core JS Files   -->
<!--script src="../assets/js/core/jquery.min.js"></script-->
<!--script src="../assets/js/core/popper.min.js"></script-->
<!--script src="../assets/js/core/bootstrap.min.js"></script!-->
<!--script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script-->
<!--  Google Maps Plugin    -->
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Chart JS -->
<!--script src="../assets/js/plugins/chartjs.min.js"></script-->
<!--  Notifications Plugin    -->
<!--script src="../assets/js/plugins/bootstrap-notify.js"></script-->
<!-- Control Center for Now Ui dashboard: parallax effects, scripts for the example pages etc -->
<!--script src="../assets/js/now-ui-dashboard.js?v=1.0.1"></script-->
<!-- Now Ui dashboard DEMO methods, don't include it in your project! -->
<!--script src="../assets/demo/demo.js"></script-->

</html>
